@import url('https://fonts.googleapis.com/css2?family=Alata&family=Baloo+Tamma+2:wght@400;500&family=Red+Rose:wght@700&display=swap');

.resumee__datum {
    display: flex;
    align-items: baseline;
}

.resumee__header {
    text-align: center;
    font-family: 'Alata', sans-serif;

}
h3 {
  font-family: 'Red Rose', cursive;
}
p {
  font-family: 'Baloo Tamma 2', cursive;
}
label {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: 500;
}
.com_Head {
    display: flex;
    align-items: center;
}

.com_Head hr {
    width: 33%;
}

.resumee__datum label {
    flex: 0.3;
}

.resumee__datum p {
    flex: 0.7;
}
.icons {
    text-align: center;
}

.icons svg {
    color: #000;
}

.icons a {
    margin: 0 14px;
}